:root {

    --blue: rgb(63, 63, 199);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--blue);
    padding: 1rem;

    h1 {

        font-size: 3rem;
        color: white;
        text-align: center;
        font-weight: bold;
    }
}

main {

    margin: auto;
    max-width: 800px;

    form {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.2rem;

            input {
                width: 80%;
                padding: 0.5rem;
            }

            input:focus {
                outline: none;
            }

            #year {
                width: 30%;
            }
        }

        button {
            color: var(--blue);
            border-radius: 0.5rem;
            font-size: 1.5rem;
            width: 5rem;
            padding: 0.5rem 1rem;
            cursor: pointer;
        }

    }

    section {
        margin-top: 1rem;
        width: 100%;

        #cds {
            border: 0.15rem solid var(--blue);

            article {

                display: grid;
                grid-template-columns: repeat(2, 2fr) 1fr 0.3fr;

                h2,
                div {
                    padding: 0.5rem 1rem;
                    border: 0.2rem solid white;
                }
            }

            #overview {
                background-color: var(--blue);
                color: white;

            }
        }


    }
}

.subAuthor,
.subTitle,
.subYear {
    font-size: 1rem;
}

.trash {

    border: none;
    cursor: pointer;


    img {
        transition: filter 300ms;
    }


}

.trash:hover {


    img {
        transition: filter 300ms;
        filter: invert(22%) sepia(52%) saturate(6629%) hue-rotate(352deg) brightness(89%) contrast(131%);
    }


}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: var(--blue);

    p {
        text-align: center;
        padding: 0.5rem;
        color: white;
    }
}